<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="3">
    <test name="Data Provider">
        <classes>
            <class name="assignment52"/>
        </classes>
    </test>
        <test name="Chrome Test">
        <parameter name="target-browser" value="Chrome">
        </parameter>
        <classes>
            <class name="assignment55"/>
        </classes>
    </test>

    <test name="Edge Test">
        <parameter name="target-browser" value="Edge">
        </parameter>
        <classes>
            <class name="assignment55"/>
        </classes>
    </test>


    <test name="FireFox Test">
        <parameter name="target-browser" value="Firefox">
        </parameter>
        <classes>
            <class name="assignment55"/>
        </classes>
    </test>
  </suite>
